@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h2,
h4 {
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.cta button {
  width: 14rem;
  height: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(20%, #ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da 0%, #ff79da 20%, #9356dc 100%);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  height: 200px;
  color: white;
}

@media (min-width: 960px) {
  .footer {
    height: 15rem;
  }
}

.footer__logo {
  margin: 20px 20px 20px 2.5%;
}

.footer__logo__img {
  width: 105px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links__a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
  margin-left: 2.5%;
}

.footer__links__fork {
  margin-right: 15px;
}

.footer__links__hands {
  margin-right: 7px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.logo__size {
  width: 190px;
  height: 33px;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  height: 4rem;
}

.header a div:first-child {
  position: absolute;
  right: 90%;
  color: black;
}

.header a div:nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurant {
  width: 100%;
  height: 190px;
}

.restaurant > img {
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #e4e4e4;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 960px) {
  main {
    margin: 0 auto;
  }
}

main .placename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 960px) {
  main .placename {
    margin-left: 1rem;
  }
}

main .placename > h1 {
  font-family: "Shrikhand", cursive;
  margin-left: 10px;
  width: 65%;
}

@media (min-width: 960px) {
  main .placename > h1 {
    width: 26%;
  }
}

main .placename__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
}

@media (min-width: 960px) {
  main .placename__like {
    margin-left: 67%;
  }
}

main .placename__like .fas {
  position: absolute;
  opacity: 0;
  font-size: 24px;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .placename__like .fas:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

main .placename__like .far {
  position: absolute;
  font-size: 25px;
}

@media (min-width: 960px) {
  main .menu-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 1rem;
  }
}

main .menu-display__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  main .menu-display__class {
    width: 30%;
  }
}

main .menu-display__class > h2 {
  display: block;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  margin-left: 10px;
}

main .menu-display__class > h2::before {
  position: absolute;
  height: 3px;
  width: 50px;
  left: 0;
  bottom: -5px;
  background: #99e2d0;
  display: block;
  content: "";
}

main .menu-display__class__details {
  background-color: #fff;
  width: 95%;
  border-radius: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 auto 15px;
}

.menu-case {
  -webkit-box-shadow: rgba(191, 191, 191, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(191, 191, 191, 0.45) 0px 25px 20px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 20px;
}

.menu-case:hover .menu-case__title__element {
  margin: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-case:hover .fas {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.menu-case__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-case__title > h3 {
  margin: 10px 0px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-case__title > h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px 0px 16px 10px;
}

.menu-case__title__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: -5rem;
}

.menu-case__title__element > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.menu-case__title__element__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  background-color: #99e2d0;
  color: white;
  border-radius: 0px 15px 15px 0px;
  font-size: 30px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px -3px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px -3px inset;
}

.location__marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__marker__input {
  background-color: #e6e6e6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px -3px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px -3px inset;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  width: 160px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

.description__title {
  text-align: center;
  margin: 20px 10px 10px 10px;
}

.description__paragraph {
  text-align: center;
  margin: 10px 20px 30px 20px;
}

.fonction {
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  .fonction {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.fonction__title {
  margin-left: 1rem;
  padding-top: 30px;
}

@media (min-width: 960px) {
  .fonction__title {
    text-align: center;
    margin: 2rem;
  }
}

.fonction > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .fonction > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.fonction__border {
  width: 89%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 15px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 960px) {
  .fonction__border {
    margin: 0 2rem 5rem 2rem;
  }
}

.fonction__border__fa {
  position: absolute;
  left: 12%;
}

.fonction__border:hover, .fonction__border:focus {
  background-color: #f2eafb;
}

.fonction__border__num {
  position: absolute;
  left: -15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.fonction__border__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background-color: #f2f2f2;
  height: 75rem;
}

@media (min-width: 960px) {
  .container {
    height: 27rem;
  }
}

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

@media (min-width: 960px) {
  .container__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container__flex > a {
  text-decoration: none;
  color: unset;
}

@media (min-width: 960px) {
  .container__flex > a {
    width: 100%;
  }
}

.container__card {
  background-color: #fff;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 15px;
}

@media (min-width: 960px) {
  .container__card {
    margin: 1rem;
    height: 17rem;
  }
}

.container__card > img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.container__card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__card__desc div:first-child {
  margin-left: 1rem;
  position: relative;
}

.container__card__desc div:nth-child(2) {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__card__desc div:nth-child(2) .fas {
  position: absolute;
  opacity: 0;
  font-size: 24px;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__card__desc div:nth-child(2) .fas:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.container__card__desc div:nth-child(2) .far {
  position: absolute;
  font-size: 25px;
}

.container__title {
  margin-left: 1rem;
  padding-top: 30px;
}

@media (min-width: 960px) {
  .container__title {
    text-align: center;
  }
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  color: #278870;
}

a article {
  position: relative;
}

.loader {
  background-color: #ffff;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 9999;
  -webkit-animation: disappear 20ms 1.5s forwards;
          animation: disappear 20ms 1.5s forwards;
}

.loader__spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  border-top: 16px solid #9356dc;
  border-right: 16px solid #ff79da;
  border-bottom: 16px solid #99e2d0;
  border-left: 16px solid lightgray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}

@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu-display__class__details {
  opacity: 0;
}

.menu-display__class__details:nth-child(10) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.menu-display__class__details:nth-child(9) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.menu-display__class__details:nth-child(8) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.menu-display__class__details:nth-child(7) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.menu-display__class__details:nth-child(6) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.menu-display__class__details:nth-child(5) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.menu-display__class__details:nth-child(4) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.menu-display__class__details:nth-child(3) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.menu-display__class__details:nth-child(2) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.menu-display__class__details:nth-child(1) {
  -webkit-animation: load-menu 1s forwards;
          animation: load-menu 1s forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes load-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes load-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */