@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  $animation-duration: 1.5s;
  background-color: #ffff;
  opacity: 0.9;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 9999;
  animation: disappear 20ms $animation-duration forwards;
  &__spinner {
    position: fixed;
    left: 41%;
    top: 41%;
    z-index: 9999;
    border-top: 16px solid $color-primary;
    border-right: 16px solid $color-secondary;
    border-bottom: 16px solid $color-tertiary;
    border-left: 16px solid lightgray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin $animation-duration infinite linear;
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
