$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$background-grey: #e4e4e4;
$background-html: #fff;

$font-size-input: 18px;
$font-size-title: 2rem;

$font-size-btn: 16px;
$font-size-arrow: 20px;

$fonction-height: 22rem;

$linear-gradient-color: linear-gradient($color-secondary, $color-primary);
