// fonction display
.fonction {
  height: $fonction-height;
  @include column-item;
  @include desktop {
    height: fit-content;
  }
  &__title {
    @include margin-txt;
    @include txt-titles-padding-top;
    @include desktop {
      text-align: center;
      margin: 2rem;
    }
  }
  &__border {
    width: 89%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    @include background-color-fonction;
    @include row-item;
    @include margin-item;
    @include border-item;
    position: relative;
    justify-content: center;
    @include desktop {
      margin: 0 2rem 5rem 2rem;
    }
    &__fa {
      position: absolute;
      left: 12%;
    }
    &:hover,
    &:focus {
      @include content-lighten;
    }
    &__num {
      position: absolute;
      left: -15px;
      border-radius: 15px;
      width: 30px;
      height: 30px;
      background-color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    &__text {
      justify-content: center;
      align-items: center;
    }
  }
}

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
  }
}

// menus display
.container {
  @include background-color-details;
  height: 75rem;
  @include desktop {
    height: 27rem;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
    > a {
      text-decoration: none;
      color: unset;
      @include desktop {
        width: 100%;
      }
    }
  }
  &__card {
    background-color: $background-html;
    @include margin-item;
    @include cards-radius;
    @include desktop {
      margin: 1rem;
      height: 17rem;
    }
    > img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      @include img-radius;
    }
    &__desc {
      display: flex;
      width: 100%;
      justify-content: space-between;
      div:first-child {
        margin-left: 1rem;
        position: relative;
      }
      div:nth-child(2) {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: relative;
        .fas {
          @include heart-animation;
        }
        .far {
          position: absolute;
          font-size: 25px;
        }
      }
    }
  }
  &__title {
    @include margin-txt;
    @include txt-titles-padding-top;
    @include desktop {
      text-align: center;
    }
  }
}

.new {
  @include new-restaurant;
}

a article {
  position: relative;
}
