// Menus order page
main {
  background-color: $background-grey;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  height: max-content;
  .placename {
    display: flex;
    align-content: center;
    justify-content: space-around;
    > h1 {
      font-family: "Shrikhand", cursive;
    }
    &__like {
      display: flex;
      align-items: center;
      .fas {
        position: absolute;
        margin-right: 3px;
        opacity: 0;
        font-size: 26px;
        vertical-align: middle;
        &:hover,
        &:active {
          transition: 0.2s ease;
          transform: scale(0.9, 0.9);
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from($color-secondary),
            to($color-primary)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
        }
      }
      .far {
        vertical-align: middle;
        font-size: 25px;
        margin: 0;
      }
      > i {
        font-size: 25px;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    > h2 {
      @include menus-title-display;
      margin-left: 10px;
    }
    > h2::before {
      @include underline-fifty;
    }
    &__details {
      // Loading menus animation
      @for $i from 10 through 1 {
        &:nth-child(#{$i}) {
          animation: load-menu 1s forwards;
          animation-delay: 0.1s * $i;
        }
      }
      @include center-details-style;
      width: 23rem;
      opacity: 0;
    }
  }
}
.menu-case {
  @include box-shadow;
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 20px;
  &:hover &__title__element {
    margin: 0;
    transition: 0.5s ease-in-out;
  }
  &:hover .fas {
    animation-name: spin;
    animation-duration: 1s;
  }
  &__title {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    > h3 {
      margin: 10px 0px 0px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 5px 0px 16px 10px;
    }
    &__element {
      display: flex;
      flex-direction: row;
      margin-right: -5rem;
      > p {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: 1rem;
      }
      &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        background-color: $color-tertiary;
        color: white;
        border-radius: 0px 15px 15px 0px;
        font-size: 30px;
      }
    }
  }
}

@keyframes load-menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  // 50% {
  //   opacity: 0.5;
  //   transform: translateY(10px);
  // }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
