// Menus order page
main {
  background-color: $background-grey;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  height: max-content;
  .placename {
    display: flex;
    align-content: center;
    justify-content: space-around;
    > h1 {
      font-family: "Shrikhand", cursive;
    }
    &__like {
      display: flex;
      align-items: center;
      .fas {
        position: absolute;
        margin-right: 3px;
        opacity: 0;
        font-size: 26px;
        vertical-align: middle;
        &:hover,
        &:active {
          transition: 0.2s ease;
          transform: scale(0.9, 0.9);
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from($color-secondary),
            to($color-primary)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
        }
      }
      .far {
        vertical-align: middle;
        font-size: 25px;
        margin: 0;
      }
      > i {
        font-size: 25px;
      }
    }
  }

  //   Menus details
  .entrance,
  .dishes,
  .desserts {
    display: flex;
    flex-direction: column;
    > h2 {
      @include menus-title-display;
    }
    > h2::before {
      @include underline-fifty;
    }
    &__details {
      @include center-details-style;
      > a {
        text-decoration: none;
        color: inherit;
        .menu-case {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          div:first-child {
            display: flex;
            flex-direction: column;
          }
          div:nth-child(2) {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
