.menus {
  margin: 0 5rem;
  background-color: lightslategray;
  .menus__titre {
    margin-bottom: 2rem;
  }
  .menus__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card {
    background-color: gray;
    border: 1px solid black;
    height: 5rem;
    flex-grow: 1;
    min-width: 20rem;
  }
}